{% load static i18n %}
{% if messages %}
<div class="oh-wrapper">
  {% for message in messages %}
  <div class="oh-alert-container">
    <div class="oh-alert oh-alert--animated {{message.tags}}">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  <script>
      setTimeout(function () {
        $('.oh-modal__close').click()
      }, 1000);
  </script>
</div>
{% endif %}
<div class="oh-modal__dialog-header">
    <button
    type="button"
    class="oh-modal__close"
    data-dismiss="oh-modal"
    aria-label="Close"
    >
    <ion-icon name="close-outline"></ion-icon>
    </button>
    <span class="oh-modal__dialog-title ml-5" id="addEmployeeObjectiveModalLabel">
        <h5>{% trans "Operation Creation" %}</h5>
    </span>
</div>
<div class="oh-modal__dialog-body">
    <form hx-post="{%url 'operation-creation' %}" hx-target="#objectCreateModalTarget">
        {% csrf_token %}
        <div class="oh-profile-section pt-0">
            <div class="oh-input__group ">
                <label class="oh-input__label" for="{{operation_form.name.id_for_label}}">{% trans "Name" %}</label>
                {{operation_form.name}}
                {{operation_form.name.errors}}
            </div>
            <div class="oh-input__group ">
                <label class="oh-input__label" for="{{operation_form.description.id_for_label}}">{% trans "Description" %}</label>
                {{operation_form.description}}
                {{operation_form.description.errors}}
            </div>
            <div class="oh-input__group ">
                <label class="oh-input__label" for="{{operation_form.frequency.id_for_label}}">{% trans "Frequency" %}</label>
                {{operation_form.frequency}}
                {{operation_form.frequency.errors}}
            </div>
            <div class="oh-input__group ">
                <label class="oh-input__label" for="{{operation_form.related_asset.id_for_label}}">{% trans "Related Asset" %}</label>
                {{operation_form.related_asset}}
                {{operation_form.related_asset.errors}}
            </div>
            <div class="oh-modal__dialog-footer p-0 mt-3">
                <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow" >
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
</div>
